.containerHorizontal {
    position: absolute;
    z-index: -1;
    width: 306px;
    height: 306px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.horizontal {
    visibility: hidden;
    width: 100%;
    height: 3px;
    background-color: black;
}

.containerVertical {
    position: absolute;
    z-index: -2;
    width: 306px;
    height: 306px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.vertical {
    visibility: hidden;
    width: 3px;
    height: 100%;
    background-color: black;
}

.containerDiagonal {
    position: absolute;
    z-index: -3;
    width: 306px;
    height: 306px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diagonal.left {
    visibility: hidden;
    width: 3px;
    height: 130%;
    background-color: black;
    transform: rotate(45deg);
}

.diagonal.right {
    visibility: hidden;
    width: 3px;
    height: 130%;
    background-color: black;
    transform: rotate(315deg);
}

.ghostContainer {
    z-index: -2;
    width: 306px;
    height: 306px;
}