body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    text-align: center;
    font-size: 48px;
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 0%;
}

.footer {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0%;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 306px;
    height: 306px;
    /* background-color: blue; */


}

.square {
    width: 100px;
    height: 100px;
    border: 1px solid black;

}

.bigSquare {
    position: absolute;
    opacity: 1;
    border: 5px solid white;
    width: 303px;
    height: 303px;
}