body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.header {
    z-index: -4;
    text-align: center;
    font-size: 48px;
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 0%;
}


.footer {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0%;
    text-align: center;
}

.container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
    width: 306px;
    height: 306px;
    animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.button {
    border: 1px solid black;
    padding: 2px;
}


.scoreboard {
    width: 100%;
    background-color: gray;
    height: auto;
    padding: 10px;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 60px;
}

.number {
    width: 21px;
    height: 21px;
    border: 2px solid black;
}


.xscore.material-symbols-outlined,
.oscore.material-symbols-outlined {
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 20px;
}